doctype html
html(lang="en")
  head
    title Pure rest api
    link(rel="stylesheet" href="/css/main.css")
    script(type="text/javascript" src="/js/client.js")
  body
    main
      h1 Welcome to the pure rest api
      p Here are my resources:
      ul
        each val, name in resources
          li
            a(href=name)=name
      form(onsubmit="client.createCollection(event)")
        h1 Create a new collection
        label URI to the collection resource<br>
          input(name="uri" placeholder="e.g. /products")
        label The JSON schema for each item in the collection
          textarea(name="schema" rows="20")
        button Create
      form(onsubmit="client.createResource(event)")
        h1 Create a new singleton resource
        p A resource that is not part of a collection
        label URI to the resource<br>
          input(name="uri" placeholder="e.g. /about")
        button Create
