doctype html
html(lang="en")
  head
    title Communication options
    style(type='text/css').
      html {
        font-family: sans-serif;
      }
    script(type='text/javascript').
      function createResource() {
        
      }
  body
    main
      h1 Welcome to the pure rest api
      p There are no resources on this server yet. Not even the root resource.
      p You can however create a root resource using the form below.
      form(action="/" method="POST")
        h1 Create new resource
        label 
          input
        
      
