doctype html
html(lang="en")
  head
    title Configure the router
    style(type='text/css').
      html {
        font-family: sans-serif;
      }
      input {
        display: block;
        margin-bottom: 20px;
        width: 100%;
      }
  body
    main
      h1 Not configured
      p You need to configure this router, use the form below
      form(action="/" method="POST")
        h1 Configure router
        label Router config absolute URL
          input(placeholder="http://example.com/routes" name="configURL")
        button Save
        
      
